<p id="notice"><%= notice %></p>

<p>
  <strong>Hour:</strong>
  <%= @record.hour %>
</p>

<p>
  <strong>Activity:</strong>
  <%= @record.activity %>
</p>

<p>
  <strong>Desire level:</strong>
  <%= @record.desire_level %>
</p>

<p>
  <strong>Feeling level:</strong>
  <%= @record.feeling_level %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @record.comment %>
</p>

<p>
  <strong>Date:</strong>
  <%= @record.date %>
</p>

<%= link_to 'Edit', edit_record_path(@record) %> |
<%= link_to 'Back', records_path %>
