<!DOCTYPE html>
<html>
  <head>
    <title>飲酒渇望記録 DesireRecords</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>飲酒渇望記録 Desire Records</h1>
    <% if user_signed_in? %>
        <p><%= link_to "ログアウト(logout)", destroy_user_session_path, method: :delete %></p>
    <% end %>
        <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
